<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>ニュース | JobShare Business</title>
<meta name="description" content="JobShare Businessの最新ニュース・お知らせをお届けします。">
<link rel="shortcut icon" href="../assets/wp-uploads/2019/11/favicon.ico" type="image/x-icon">
<link rel="icon" href="../assets/wp-uploads/2019/11/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon" href="../assets/apple-touch-icon-precomposed.png">
<link rel="canonical" href="/landing/business/news">
<meta name="copyright" content="Workstation Co. Ltd.">
<meta property="og:url" content="/landing/business/news">
<meta property="og:title" content="ニュース | JobShare Business">
<meta property="og:description" content="JobShare Businessの最新ニュースをお届けします。">
<meta property="og:image" content="../assets/wp-uploads/2025/06/ogp-1-1200x628.png">
<meta property="og:site_name" content="JobShare Business">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="/landing/business/news">
<meta name="twitter:title" content="ニュース | JobShare Business">
<meta name="twitter:description" content="JobShare Businessの最新ニュースをお届けします。">
<meta name="twitter:image" content="../assets/wp-uploads/2025/06/ogp-1-1200x628.png">
<meta name="twitter:site" content="@readycrew1111">
	<meta name='robots' content='max-image-preview:large' />
	<style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
	


<meta property="og:title" content="ニュース" />
<meta property="og:description" content="JobShare Businessは、ニーズはもちろん相性まで合うパートナー企業（発注先）に出会える、完全無料のビジネスマッチングサービスです。" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/landing/business/news" />
<meta property="og:image" content="../assets/wp-uploads/2025/06/ogp-1-400x209-1.jpg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="209" />
<meta property="og:image:alt" content="" />
<meta property="og:site_name" content="JobShare Business" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="readycrew1111" />
<meta property="fb:app_id" content="474521416377140" />
<link rel="llms-sitemap" href="#" />
<meta name="redi-version" content="1.2.7" /><link rel="icon" href="../assets/wp-uploads/2026/07/cropped-favicon-512x512-1-32x32.png" sizes="32x32" />
<link rel="icon" href="../assets/wp-uploads/2026/07/cropped-favicon-512x512-1-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="../assets/wp-uploads/2026/07/cropped-favicon-512x512-1-180x180.png" />
<meta name="msapplication-TileImage" content="../assets/wp-uploads/2026/07/cropped-favicon-512x512-1-270x270.png" />
	
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/simplebar.css">
	<link rel="stylesheet" href="../assets/form-cms.css">
			<link rel="stylesheet" href="../assets/style.css">
	<script src="../assets/jquery.min.js"></script>
	<script src="../assets/jquery.easing.min.js"></script>
	<script src="../assets/slick.min.js"></script>
	<script src="../assets/jquery.jscroll.min.js"></script>
	<script src="../assets/picturefill.min.js"></script>
	<script src="../assets/imagesloaded.pkgd.min.js"></script>
	<script src="../assets/jquery.waypoints.min.js"></script>
	<script src="../assets/jquery.matchHeight-min.js"></script>
	<script src="../assets/jquery.counterup-2.0.js"></script>
	<script src="../assets/barba.min.js"></script>
	<script src="../assets/smooth-scroll.polyfills.min.js"></script>
	<script src="../assets/swiper-bundle.min.js"></script>
	<script src="../assets/jquery.marquee.min.js"></script>
	<script src="../assets/simplebar.min.js"></script>
	<script src="../assets/vivus.min.js"></script>
	<script src="../assets/clipboard.min.js"></script>
	<script src="../assets/app.js"></script>
	<script type="module" src="../assets/page-news.js"></script>

					<link rel="stylesheet" href="../assets/jobshare-overrides.css">
</head>

<body data-rsssl=1>
	

	
	
							
			<article>
			<div class="page-news">
  <div class="page-news-visual l-article-mv-plus-lower">
    <div class="page-news-visual__contents l-article-mv__contents">
      <h1 class="page-news-visual__page-title l-article-mv__title"><span class="page-news-visual__page-title-jp l-article-mv__title-jp">お知らせ</span></h1>
      <div class="page-news-visual__images">
        <div class="page-news-visual__logo"><img class="page-news-visual__logo-body" src="../assets/common-main-text.svg" alt="JobShare Business"/></div>
        <div class="page-news-visual__picture"><img class="page-news-visual__picture-body" src="../assets/hero_bg_icon.png"/></div>
        
      </div>
    </div>
    <div class="page-news-visual-marquee">
      <div class="page-news-visual-marquee__body js-logo-marquee">
        <p class="page-news-visual-marquee__text"><span class="page-news-visual-marquee__text-en">JobShare</span><span class="page-news-visual-marquee__text-en">JobShare</span></p>
      </div>
    </div>
  </div>
  <section class="page-news-list l-section">
    <div class="page-news-list__wrapper l-wrapper--on-bg-white-sp">
      <div class="page-news-list__contents l-contents--medium l-contents--sp-full">        <div class="page-news-tab">
          <ol class="page-news-tab__list">
            <li class="page-news-tab__category"><a class="page-news-tab__all page-news-tab__all--current" href="/landing/business/news" target="_top">ALL</a></li>            <li class="page-news-tab__category"><a class="page-news-tab__anchor" href="#">メディア</a></li>            <li class="page-news-tab__category"><a class="page-news-tab__anchor" href="#">プレスリリース</a></li>            <li class="page-news-tab__category"><a class="page-news-tab__anchor" href="#">レポート</a></li>            <li class="page-news-tab__category"><a class="page-news-tab__anchor" href="/landing/business/news/sample" target="_top">ニュース</a></li>            <li class="page-news-tab__category"><a class="page-news-tab__anchor" href="#">お知らせ</a></li>          </ol>
        </div>
        <div class="page-news-list__body">          <div class="page-news-list__item u-hover-wrapper"><a class="page-news-list__anchor" href="/landing/business/news/sample" target="_top">
              <p class="page-news-list__date" datetime="2026-08-07">2026.08.07</p>
              <p class="page-news-list__category">ニュース</p>
              <p class="page-news-list__title u-inner-hover-text-red"><span class="u-inner-hover-red-line">AI時代のBtoBマーケ施策・内製外注の判断軸とは？フロンティアが最前線40社のAIカンファレンスに登壇</span></p></a></div>          <div class="page-news-list__item u-hover-wrapper"><a class="page-news-list__anchor" href="/landing/business/about" target="_top">
              <p class="page-news-list__date" datetime="2026-07-30">2026.07.30</p>
              <p class="page-news-list__category">ニュース</p>
              <p class="page-news-list__title u-inner-hover-text-red"><span class="u-inner-hover-red-line">【夏季休業日のお知らせ】</span></p></a></div>          <div class="page-news-list__item u-hover-wrapper"><a class="page-news-list__anchor" href="/landing/business/news/sample" target="_top">
              <p class="page-news-list__date" datetime="2026-07-29">2026.07.29</p>
              <p class="page-news-list__category">ニュース</p>
              <p class="page-news-list__title u-inner-hover-text-red"><span class="u-inner-hover-red-line">当社オフィスが「日本空間デザイン賞 2026」Longlist（入選）に選出されました</span></p></a></div>          <div class="page-news-list__item u-hover-wrapper"><a class="page-news-list__anchor" href="/landing/business/news/sample" target="_top">
              <p class="page-news-list__date" datetime="2026-07-29">2026.07.29</p>
              <p class="page-news-list__category">ニュース</p>
              <p class="page-news-list__title u-inner-hover-text-red"><span class="u-inner-hover-red-line">フロンティア、年間1,100億円の実績から紐解く「売上500%成長」の外注マッチング戦略をマジセミ主催カンファレンス登壇で公開！</span></p></a></div>          <div class="page-news-list__item u-hover-wrapper"><a class="page-news-list__anchor" href="/landing/business/news/sample" target="_top">
              <p class="page-news-list__date" datetime="2026-07-28">2026.07.28</p>
              <p class="page-news-list__category">ニュース</p>
              <p class="page-news-list__title u-inner-hover-text-red"><span class="u-inner-hover-red-line">ビジネスマッチングサービス「JobShare Business」、「ITreview The Best Software in Japan 2026」を受賞！</span></p></a></div>        </div>        <div class="page-news-pagination m-pagination-wrapper">
          <div class="page-news-pagination__contents m-pagination">
	<nav class="navigation pagination" aria-label="投稿のページ送り">
		<h2 class="screen-reader-text">投稿のページ送り</h2>
		<div class="nav-links"><ul class='page-numbers'>
	<li><span aria-current="page" class="page-numbers current">1</span></li>
	<li><a class="page-numbers" href="#">2</a></li>
	<li><a class="page-numbers" href="#">3</a></li>
	<li><a class="page-numbers" href="#">4</a></li>
	<li><a class="page-numbers" href="#">5</a></li>
	<li><span class="page-numbers dots">&hellip;</span></li>
	<li><a class="page-numbers" href="#">64</a></li>
	<li><a class="next page-numbers" href="#"></a></li>
</ul>
</div>
	</nav>          </div>
        </div>
      </div>
    </div>
  </section>
</div><!-- /home/ladycrew/readycrew.jp/public_html/cms/wp-content/themes/readycrew2023/archive-post.php -->

	<section class="footer-top l-section">
		<div class="footer-top-conversion">
			<div class="footer-top-conversion__contents l-contents--large">
				<div class="footer-top-conversion__upper">
					<picture class="footer-top-conversion__picture">
						<source media="(max-width: 767px)" srcset="../assets/footer-top-people.png" />
						<img class="footer-top-conversion__picture-body" src="../assets/footer-top-people.png" alt="JobShare Business公式アンバサダー 広瀬アリス" loading="lazy" />
					</picture>
				</div>
				<div class="footer-top-conversion__body">
					<div class="footer-top-conversion__text-area">
						<p class="footer-top-conversion__main-text">外国人高度人材の採用を、<br>もっと自由に。もっと確実に。</p>
						<p class="footer-top-conversion__desc">JobShare Businessは、外国人エンジニア・高度人材の採用を支援する<br class="u-br-hd u-br-spu">企業向け採用プラットフォームです。お気軽にご相談ください。</p>
						<div class="footer-top-conversion__contact">
							<div class="footer-top-conversion__btn-group">
								<a class="footer-top-conversion__download-btn o-btn-bg o-btn-bg--hover-border m-element-side-space" href="/business/register" target="_top">
									<span class="footer-top-conversion__btn-text o-btn-bg__text">資料ダウンロード</span>
								</a>
								<a class="footer-top-conversion__contact-btn o-btn-bg o-btn-bg--white m-element-side-space" href="/business/login" target="_top">
									<span class="footer-top-conversion__btn-text o-btn-bg__text">外注先を無料で相談する</span>
								</a>
							</div>
							<a class="footer-top-conversion__tel" href="tel:0120-311-532">
								<span class="footer-top-conversion__tel-icon">
									<svg class="footer-top-conversion__tel-icon-body" width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.7416 17.118L9.98504 17.5794C5.54731 20.1493 -2.15198 5.16317 2.17132 2.33065L2.89611 1.87631L5.26756 6.4694L4.54278 6.91664C3.22671 7.80402 6.29753 13.8098 7.64538 12.9863L8.38288 12.532L10.7416 17.118ZM4.50463 0.839844L3.44288 1.54975L5.80798 6.13574L6.87608 5.42584L4.50463 0.839844ZM9.97869 11.4884L8.91058 12.1983L11.2757 16.7914L12.3438 16.0815L9.97869 11.4884Z" fill="#0576b6" />
									</svg>
								</span>
								<span class="footer-top-conversion__tel-text">0120-311-532</span>
								<span class="footer-top-conversion__time">10:00 〜 18:00 (平日)</span>
							</a>
						</div>
						<a href="#" class="header-sub__anchor o-anchor-text">
							<span class="o-anchor-text__icon--white"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.3333 4.84082L0.333313 9.17095L0.333313 0.510693L10.3333 4.84082Z" fill="white"></path>
								</svg></span>
							<span class="o-anchor-text__text c-text-white">受注企業様はこちら</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-top-topic-path">
			<div class="footer-top-topic-path__contents">
				<ol class="footer-top-topic-path__list">
					<li class="footer-top-topic-path__item"><a class="footer-top-topic-path__anchor" href="/landing/business"  target="_top">JobShare BusinessTOP</a></li><li class="footer-top-topic-path__item"><a class="footer-top-topic-path__anchor" href="/landing/business/news" target="_top">ニュース</a></li><li class="footer-top-topic-path__item"><a class="footer-top-topic-path__anchor" href="#"></a></li><li class="footer-top-topic-path__item">ニュース</li>				</ol>
			</div>
		</div>
	</section>
	</article>
	
	


<script type="speculationrules">
{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/cms\/wp-*.php","\/cms\/wp-admin\/*","\/cms\/wp-content\/uploads\/*","\/cms\/wp-content\/*","\/cms\/wp-content\/plugins\/*","\/cms\/wp-content\/themes\/readycrew2023\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>
<!-- HM TAG -->
<script type="text/javascript">
	! function() {
		var t = Date.now().toString();
		if (/[?&]hm_ct=e2a274a2ff0d1f25f2c77147fc5a6434/.test(location.search)) {
			var e = document.createElement("script");
			e.type = "text/javascript", e.src = "https://contents-lb01.hm-f.jp/common_tag.js?t=" + t, e.async = !0, document.head.appendChild(e)
		}
	}();
</script>
<!-- HM TAG -->
	<script src="../assets/jobshare-bootstrap.js"></script>
</body>

</html>