/*Template designed by Saiyo Design*/

/* ご説明  -------------------------------------------------------------------------------
メインの画像と色を変更できます。
-----------------------------------------------------------------------------------------*/

/*トップページのスライド画像
---------------------------------------------------------------------------------------------------------------------------*/
/*ヒーローイメージ/スライド*/
.slide_hero_img:nth-child(2) {
  background-image: url("../img/00_01.jpg"); /* 1番目の画像を設定 */
  background-position: right 20% top 50%; /* 背景画像の位置を設定 */
}
.slide_hero_img:nth-child(3) {
  background-image: url("../img/00_02.jpg"); /* 2番目の画像を設定 */
  background-position: right 30% top 50%; /* 背景画像の位置を設定 */
}
.slide_hero_img:nth-child(4) {
  background-image: url("../img/00_03.jpg"); /* 3番目の画像を設定 */
  background-position: right 25% top 50%; /* 背景画像の位置を設定 */
}
/*各カテゴリーのアイキャッチ画像
---------------------------------------------------------------------------------------------------------------------------*/
/*会社を知る*/
#company .eye_catch {
  background-image: url("../img/01.jpg"); /* 画像を設定 */
  background-position: left; /* 画像の位置を設定 */
}
/*仕事を知る*/
#work .eye_catch {
  background-image: url("../img/03.jpg"); /* 画像を設定 */
  background-position: left; /* 画像の位置を設定 */
}
/*人を知る*/
#people .eye_catch {
  background-image: url("../img/06.jpg"); /* 画像を設定 */
  background-position: left; /* 画像の位置を設定 */
}
/*採用情報*/
#recruit .eye_catch {
  background-image: url("../img/10.jpg"); /* 画像を設定 */
  background-position: right; /* 画像の位置を設定 */
}
/*採用情報の上の画像（パララックス画像）
---------------------------------------------------------------------------------------------------------------------------*/
.parallax {
  background-image: url("../img/09.jpg"); /* 画像を設定 */
  background-position: left; /* 画像の位置を設定 */
}
/* メインカラーの色変更
---------------------------------------------------------------------------------------------------------------------------*/ 
:root {
  --key_color_text: #6891BA; /* テキストカラーを設定 */
  --key_color_back: #6891BA; /* 背景色を設定 */
}
/* ENTRYボタンの色変更　
---------------------------------------------------------------------------------------------------------------------------*/ 
:root {
  --key_color_back_entry: #000000; /* 背景色を設定 */
  --key_color_back_entry_hover: #C70069; /* 背景色を設定 */
}