@charset "UTF-8";

.form_title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.4;
    color: #282c32;
    font-feature-settings: "palt";
    margin: 0 0 25px;
}

.form_description {
    line-height: 1.6;
    font-weight: 500;
}

.form-group {
    margin: 35px 0 0;
    font-size: 15px;
}

.formHeading {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
}

.formHeading label {
    display: flex;
    align-items: center;
}

.input0 {
    font-size: 15px;
    line-height: 1.2;
    color: #282c32;
    font-feature-settings: "palt";
}

.input-group .form-control {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    font-feature-settings: "palt";
    border-radius: 4px;
    border: 1px solid rgba(40, 44, 50, 0.1);
    width: 100%;
    padding: 15px 20px;
    transition: 0.2s cubic-bezier(0.85, 0, 0.15, 1);
    color: rgba(40, 44, 50, 0.84);
}

.input-group .two-columns {
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.form-group.required .formHeading label::before,
.required-message span.message::before {
    content: "必須";
    font-size: 10px;
    line-height: 22px;
    padding: 0 10px;
    background-color: #ff8194;
    color: #fff;
    border-radius: 2px;
    margin: 0 1em 0 0;
    display: inline-block;
    font-weight: 500;
}

input:focus-visible {
    outline: 1px solid #E10029;
    border-radius: 4px;
}

.form_submit {
    margin-top: 40px;
}

.form_submit .form_btn {
    font-weight: 900;
    font-size: 16px;
    line-height: 74px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.type-policy .description {
    font-size: 14px;
}

.type-policy .description a {
    text-decoration: underline;
    color: #E10029;
}

.type-policy .input-group {
    line-height: 1.6;
    font-weight: 500;
}

.type-policy .input-group input {
    margin-right: 10px;
}

.required-message {
    display: none;
}

.form_submit .form_btn {
    color: #fff;
    background-color: #282c32;
}

.form_submit .form_btn:hover {
    color: #fff;
    background-color: #E10029;
}

.form_submit .form_btn.disabled {
    color: #282c32;
    background-color: rgba(211, 214, 216, 0.2);
}

.checkbox_field {
    display: flex;
    flex-wrap: wrap;
    border: unset;
    padding: unset;
}
.checkbox_field legend {
    font-size: 16px;
    margin-bottom: 1em;
    color: inherit;
    border: unset;
    text-align: center;
    font-weight: bold;
}
.checkbox_field label {
    width: 50%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    letter-spacing: -0.003em;
    accent-color: #d30d30;
}
.checkbox_field label:hover {
    text-decoration: underline;
}
@media (width < 1024px) {
    .checkbox_field label {
        font-size: 12px;
    }
}
.checkbox_field label input {
    width: 1em;
    height: 1em;
    margin: unset;
    margin-right: 3px;
    appearance: auto;
    cursor: pointer;
}
.checkbox_field label input[type=checkbox]:checked:before {
    content: unset;
}
.checkbox_field label.ml_unset {
    margin-left: unset;
}

/* 知ったきっかけ */
.type-radio{
	.input-group {
		display: flex;
		flex-wrap: wrap;
		label {
			width: 50%;
			text-align: left;
			font-weight: normal;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
			input {
				width: 1em;
				height: 1em;
				margin: unset;
				margin-right: 3px;
				appearance: auto;
			}
			input[type="checkbox"]:checked:before {
				content: unset;
			}
			letter-spacing: -0.003em;
			accent-color: #d30d30;
			&.ml_unset {
				margin-left: unset;
			}
		}
	}
}
