.tg_web_eye_btn {
    position: fixed;
    top: 150px;
    right: -30px;
    z-index: 10;
    width: 240px;
}
.service_trend_btn {
    position: fixed;
    top: 255px;
    right: 0;
    z-index: 10;
    width: 55px;
}
.service_trend_btn img {
    width: 55px;
}
.service_detail_title h2 > span {
    display: flex !important;
    align-items: center;
}
.service_detail_title h2 > span .labelstyle {
    border: 1px solid;
    font-size: 14px;
    padding: 4px 8px;
    background: #fff;
    color: #003caa;
    font-weight: bold;
}
.service_detail_title h2 > span.sub {
  margin-bottom: 0;
  margin-top: 20px;
}

#top .mv_topics {
  height: min-content;
}

.service_detail_section1 h2,.service_detail_section3 h2,.service_section3_head h2,.service_section5_head h2 {
  padding-bottom: 30px;
  position: relative;
}
.service_detail_section1 h2::after,.service_detail_section3 h2::after,.service_section3_head h2::after,.service_section4_head h2::after,.service_section5_head h2::after {
  background: #333;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 30px;
}
.service_column_body,.service_outline_item>div>div,.service_overlay,.service_section1 {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,60,170,.1);
  box-shadow: 0 10px 30px 0 rgba(0,60,170,.1);
}
.service_detail_section1 h2,.service_detail_section2 h3>span:last-child,.service_outline p,.service_section1 h2,.ttl_column h2,.features_stage h2 {
  font-family: "Yu Mincho Light",YuMincho,"Yu Mincho","游明朝体",serif;
}
.about_section2 h2 .en,.about_section3 h2 .en,.head_number {
  font-family: Inter,sans-serif;
}
.about_features_controller span:nth-child(2)::after,.about_section4,.entry_result,.entry_title::before,.head_number::after,.service_detail_section2 h3>span:first-child::after,.service_detail_title::after {
  background: -webkit-linear-gradient(45deg,#003caa 0,#0082cc 100%);
  background: linear-gradient(45deg,#003caa 0,#0082cc 100%);
}

.contact_more {
  background: url(https://i-web-ats.humanage.co.jp/img/service/contact_back.png) 0 0 no-repeat;
  background-size: cover;
  padding: 70px 0;
}
.contact_more>div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
}
.contact_more h2 {
  color: #fff;
  font-size: 75px;
  line-height: 1;
}
.contact_more h2 span {
  display: block;
  font-size: 18px;
}
.contact_more .btn a {
  background: #fff;
  text-align: center;
  width: 300px;
}
.head_number {
  color: #003caa;
  font-size: 48px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  position: relative;
  width: 80px;
}
.head_number::after {
  -webkit-transform: skew(-25deg);
  -webkit-transform-origin: right top;
  content: '';
  height: 60px;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
  transform: skew(-25deg);
  transform-origin: right top;
  width: 17px;
}
.notice_text {
  color: #888;
  font-size: 13px;
}
.tags>* {
  background: #f5f5f5;
  color: #0082cc;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  margin-right: 5px;
  padding: 5px 10px;
}
.tags a:hover {
  background: #0082cc;
  color: #f5f5f5;
  opacity: 1;
}
.modal {
  background: rgba(0,0,0,.5);
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}
.modal.on {
  -webkit-animation: fadeIn .5s ease 0s forwards;
  animation: fadeIn .5s ease 0s forwards;
  display: block;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal>div {
  -webkit-transform: translate(-50%,-50%);
  background: #fff;
  left: 50%;
  padding: 60px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 900px;
}
.modal h2+* {
  margin-top: 20px;
}
.modal_close {
  left: 100%;
  margin: -20px 0 0 10px;
  position: absolute;
  top: 0;
}
.modal_close a {
  background: url(https://i-web-ats.humanage.co.jp/img/interview/modal_close_on.svg) 0 0 no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
.modal_close a span {
  -webkit-transition: .3s;
  transition: .3s;
}
.modal_close a:hover span {
  opacity: 0;
}
.service_section1 {
  background: url(https://i-web-ats.humanage.co.jp/img/service/logo1.svg) -90px -15px no-repeat #fff;
  margin-left: calc((100% - 1140px)/ 2);
  padding: 60px 0 60px 270px;
  position: relative;
  z-index: 5;
}
.service_section1 h2 {
  font-size: 24px;
}
.service_section1 p {
  margin-top: 30px;
}
.service_section1 .btn {
  margin-top: 40px;
}
.service_section2 {
  /*-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;*/
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 900px;*/
  height: 100%;
  /*overflow-y: hidden;*/
  padding-left: calc((100% - 1140px)/ 2);
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.service_list {
  color: #333;
  font-size: 15px;
  line-height: 1;
  width: 240px;
  position: relative;
}
.-fixed {
  position: sticky;
  margin-bottom: 0;
  top: 100px;
  z-index: 3;
}
.service_list>ul ul {
  color: #a5a5a5;
  font-weight: 400;
  padding: 12px 0;
}
.service_list a {
  -webkit-transition: all .2s 0s ease;
  display: block;
  padding: 12px 0;
  position: relative;
  transition: all .2s 0s ease;
  font-size: 13px;
}
/*
.service_list a::before {
  -webkit-transition: width .5s 0s ease;
  background: #003caa;
  content: '';
  height: 1px;
  position: absolute;
  right: 102%;
  top: 50%;
  transition: width .5s 0s ease;
  width: 0;
}
*/
.service_list a.on,.service_list a:hover {
  color: #003caa;
  /*font-size: 15px;*/
  font-weight: 500;
  /*padding: 24px 0;*/
}
.service_list a.on::before {
  width: 100%;
}
.service_outline {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  /*background: url(https://i-web-ats.humanage.co.jp/img/service/back1.svg) 87px 0 no-repeat;*/
  flex: 1;
  /*height: 620px;*/
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fbfbfb;
}
.service_outline_model {
  background: url(https://i-web-ats.humanage.co.jp/img/service/back1.svg) 60px 0 no-repeat;
  min-height: 60px;
  background-attachment: fixed;
  background-position: top 120px right;
  background-size: auto 90px;
}
.service_outline_option {
  background: url(https://i-web-ats.humanage.co.jp/img/service/back2.svg) 87px 0 no-repeat;
  min-height: 87px;
  background-attachment: fixed;
  background-position: top 120px right;
}
.service_outline_series {
  background: url(https://i-web-ats.humanage.co.jp/img/service/back3.svg) 87px 0 no-repeat;
  min-height: 87px;
  background-attachment: fixed;
  background-position: top 120px right;
}
.service_outline_service {
  background: url(https://i-web-ats.humanage.co.jp/img/service/back4.svg) 87px 0 no-repeat;
  min-height: 87px;
  background-attachment: fixed;
  background-position: top 120px right;
}
.service_outline::-webkit-scrollbar {
  display:none;
}
.service_cat_ttl {
  text-align: right;
  margin-bottom: -100px;
}

.service_outline_item {
  padding: 60px 0 75px 30px;
}
.service_outline_item>div {
  height: 100%;
}
.service_outline_item>div>div {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 28px 0 0 0;
  padding: 45px 60px;
  background-color: #fff;
}
.service_outline_item>div>div>img {
  margin: -7.29vw 0 0 60px;
  width: 37.5vw;
}
.service_outline h2 {
  font-size: 30px;
  line-height: 1.3;
}
.service_outline h2 span {
  color: #003caa;
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.service_outline h3 {
  color: #003caa;
  font-size: 18px;
  overflow: auto;
  line-height: 1.5;
}
.service_outline p>span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.service_outline p>span:nth-child(1) span {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding: 5px 0;
  text-align: center;
  width: 40%;
}
.service_outline p>span:nth-child(1) span.type1 {
  border: 1px solid #003caa;
  color: #003caa;
  margin-right: 10px;
}
.service_outline p>span:nth-child(1) span.type2 {
  border: 1px solid #e43355;
  color: #e43355;
}
.service_outline h3 img {
  float: left;
  margin-right: 20px;
}
.service_outline p {
  font-size: 24px;
  margin-top: 30px;
  line-height: 1.5;
}
.service_outline .btn {
  margin-top: 44px;
}
.service_section3,.service_section4,.service_section5 {
  padding: 75px 0 120px 0;
}
.service_section3 .inner,.service_section4 .inner,.service_section5 .inner {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.service_section3_head,.service_section4_head,.service_section5_head {
  margin-left: calc((100% - 1140px)/ 2);
  overflow-x: hidden;
}
.service_section3_head h2,.service_section4_head h2,.service_section5_head h2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  padding: 45px 0;
  position: relative;
  width: 1280px;
}
.service_section3_head h2 span,.service_section4_head h2 span,.service_section5_head h2 span {
  font-size: 15px;
  margin-left: 20px;
}
.service_section3,.service_section5 {
  background: #f5f5f5;
}
.service_section3_head {
  background: url(https://i-web-ats.humanage.co.jp/img/service/back2.svg) right top no-repeat;
}
.service_section3 .service_column_title {
  height: 110px;
}
.service_section4_head {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(https://i-web-ats.humanage.co.jp/img/service/back3.svg) right top no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: calc((100% - 1140px)/ 2);
}
.service_section4_head>div {
 /* margin-left: 20px;*/
  width: 1000px;
}
/*.service_section4_head h2 {
  padding: 30px 0;
}*/
.service_section4_head p {
  margin-top: 20px;
}
.service_section5_head {
  background: url(https://i-web-ats.humanage.co.jp/img/service/back4.svg) right top no-repeat;
}
.service_section5 .service_column_title {
  display: block;
}
.service_section5 .service_column_title span {
  color: #003caa;
  display: block;
  font-size: 15px;
  line-height: 1;
}
.service_column {
  margin: 60px 30px 0 0;
  width: 360px;
}
.service_column:nth-child(3n) {
  margin-right: 0;
}
.service_column_title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 1.6;
  overflow: auto;
}
.service_column_title img {
  margin-right: 20px;
}
.service_column_body {
  background: #fff;
  margin-top: 20px;
}
.service_column_body>span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 30px 0;
}
.service_column_body>span:nth-child(1) span {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding: 5px 0;
  text-align: center;
  width: 40%;
}
.service_column_body>span:nth-child(1) span.type1 {
  border: 1px solid #003caa;
  color: #003caa;
  margin-right: 10px;
}
.service_column_body>span:nth-child(1) span.type2 {
  border: 1px solid #e43355;
  color: #e43355;
}
.service_column_body>span:nth-child(2) {
  display: block;
  padding: 15px 25px 30px;
}
.service_column_body img {
  max-width: 100%;
}
.service_wrapper {
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  /* position: relative; */
}
.service_wrapper.open, body.open {
  /* position: fixed; */
  overflow: hidden;
}
.service_wrapper.open::after, body.open::after {
  background: rgba(0,0,0,.5);
  content: '';
  height: 100%;
  /* position: absolute; */
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.service_wrapper .btn a,.service_overlay .btn a {
  width: 300px;
}
.service_overlay {
  -webkit-transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s 0s ease;
  background: #fff;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: -webkit-transform .5s 0s ease;
  transition: transform .5s 0s ease;
  transition: transform .5s 0s ease,-webkit-transform .5s 0s ease;
  width: 90%;
  z-index: 9;

  z-index: 999;
  height: 100vh;
  overflow-y: scroll;
}
.service_overlay.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.service_detail {
  display: none;
  padding: 0 45px;
}
.service_detail_title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  margin: 0 -45px;
  overflow: hidden;
  padding: 0 0 45px 215px;
  position: relative;
}
.service_detail_title::after {
  -webkit-transform: skew(-25deg);
  -webkit-transform-origin: left bottom;
  content: '';
  height: 100%;
  left: 350px;
  position: absolute;
  top: 0;
  transform: skew(-25deg);
  transform-origin: left bottom;
  width: 100%;
  z-index: 2;
}
.service_detail_title h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin-left: 128px;
  position: relative;
  z-index: 3;
}
.service_detail_title h2>span {
  display: block;
  font-size: 18px;
  margin-bottom: 16px;
}
.service_detail .breadcrumb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: -45px;
  padding: 0 30px;
  position: relative;
  z-index: 2;
  height: 45px;
}
.service_detail .breadcrumb div:first-child {
  font-size: 15px;
  font-weight: bolder;
}
.service_detail .breadcrumb div:first-child a::before {
  background: url(https://i-web-ats.humanage.co.jp/img/arw_l.png) no-repeat center/contain;
  content: '';
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  vertical-align: baseline;
  width: 6px;
}
.service_detail .breadcrumb div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}
.service_detail .breadcrumb ul {
  margin: 0 20px;
}
.service_detail .breadcrumb .prev {
  margin-left: auto;
  position: relative;
  padding-left: 20px;
}
.service_detail .breadcrumb .prev::after {
  -webkit-transform: translateY(-50%);
  background: url(https://i-web-ats.humanage.co.jp/img/arw_l.png) no-repeat center/contain;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
}
.service_detail .breadcrumb .next {
  padding-right: 20px;
  position: relative;
}
.service_detail .breadcrumb .next::after {
  -webkit-transform: translateY(-50%);
  background: url(https://i-web-ats.humanage.co.jp/img/arw_r.png) no-repeat center/contain;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
}

.service_detail .inner {
  width: 900px;
}
.service_detail .bg_blue {
  background-color: #e5f2fa;
}
.service_detail_section1 {
  margin: 120px auto 0 auto;
}
.service_detail_section1 h2 {
  font-size: 30px;
}
.service_detail_section1 p {
  margin-top: 44px;
}
.service_detail_section1 p:last-child {
  text-align: center;
}
.service_detail_section2 {
  /* background: #f5f5f5; */
  background: #fff;
  margin: 0 -45px 0 -45px;
  /*padding: 116px 0 104px 0;*/
  /* padding: 116px 0 50px 0; */
  padding: 0 0 50px 0;
}
.service_detail_section2 .inner>div {
  margin-top: 77px;
}
.service_detail_section2 .inner>div+div {
  margin-top: 102px;
}
.service_detail_section2 .inner>div p {
  margin-top: 20px;
}
.service_detail_section2 h2 {
  font-size: 75px;
  line-height: 1;
}
.service_detail_section2 h2 span {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
.service_detail_section2 h3 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service_detail_section2 h3>span:first-child {
  color: #003caa;
  font-size: 48px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  position: relative;
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}
.service_detail_section2 h3>span:first-child::after {
  -webkit-transform: skew(-25deg);
  -webkit-transform-origin: right top;
  content: '';
  height: 60px;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
  transform: skew(-25deg);
  transform-origin: right top;
  width: 17px;
}
.service_detail_section2 h3>span:last-child {
  font-size: 24px;
  line-height: 1.5;
}
.service_detail_section2 h3>span:last-child span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
.service_detail_section3 {
  padding: 120px 0;
}
.service_detail_section3>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service_detail_section3 h2 {
  font-size: 40px;
  line-height: 1.2;
}
.service_detail_section3 h2 span {
  display: block;
  font-size: 15px;
  line-height: 1;
  margin-top: 12px;
}
.service_detail_section3 h2+* {
  margin: 5px 0 0 30px;
}
.service_detail_section3 h3 {
  font-size: 24px;
}
.service_detail_section3 p {
  margin-top: 20px;
}
.service_detail_section3 .btn {
  margin-top: 30px;
  text-align: center;
}
.service_detail_section3 .btn a {
  margin: 0 auto;
}
.service_detail_section4 {
  margin: 0 -45px;
}
.service footer {
  margin-top: 0;
}
.service .breadcrumb {
  position: relative;
  z-index: 3;
}
.articles_list li,.features_list li {
  -webkit-box-shadow: 0 5px 5px rgba(0,60,170,.1);
  -webkit-transition: .3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0,60,170,.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 70px 30px 0 0;
  position: relative;
  transition: .3s;
  width: 360px;
  justify-content: space-between;
}
.articles_list li:nth-child(3n),.features_list li:nth-child(3n) {
  margin-right: 0;
}
.articles_list li:hover,.features_list li:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
.articles_list li:hover .ttl,.features_list li:hover .ttl {
  color: #003caa;
}
.articles_list li:hover img,.features_list li:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.articles_list li>a,.features_list li>a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.articles_list li .img,.features_list li .img {
  overflow: hidden;
  /*height: 270px;*/
  width: 100%;
  aspect-ratio: 5 / 3;
}
.articles_list li img,.features_list li img {
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
}
.articles_list li .txt,.features_list li .txt {
  padding: 30px;
}
.articles_list li .company,.features_list li .company {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  margin-top: 30px;
  padding-left: 15px;
  position: relative;
}
.articles_list li .company::before,.features_list li .company::before {
  background: #888;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 7px;
}
.articles_list li .tags,.features_list li .tags {
  padding: 0 30px 30px 30px;
}
.articles_list li .date,.features_list li .date {
  font-size: 11px;
  line-height: 1;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 100%;
}
.articles {
  background: #f5f5f5;
  padding: 0 0 120px 0;
}
.articles_tags {
  background: #fff;
  margin-left: 50%;
  padding: 34px 0 28px 60px;
  position: relative;
}
.articles_tags::before {
  -webkit-transform: skew(-25deg);
  -webkit-transform-origin: left top;
  background: #fff;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skew(-25deg);
  transform-origin: left top;
  width: 200px;
  z-index: 1;
}
.articles_tags .tags {
  position: relative;
  width: 570px;
  z-index: 2;
}
.articles_tags .more {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.articles_tags .more a{
  display: inline-block;
  border: 1px solid #0082cc;
  padding: 0.15em 1em;
  font-size: 10px;
  color: #0082cc;
}
.articles_tags .more a:before{
  content: "≫";
}
.articles_tags .more a:hover{
  border: 1px solid #0082cc;
  background:#0082cc;
  color:#fff;
  opacity: 1;
}
.articles h2 {
  border-top: 1px solid transparent;
  /*font-size: 75px;*/
  font-size: 60px;
  height: 0;
  line-height: 1;
  position: relative;
  width: 100%;
}
.articles h2 span {
  bottom: 0;
  left: 0;
  position: absolute;
}
.articles h2 span.tag_list {
  color: #d6d6d6;
}
.articles h2 span span {
  display: block;
  font-size: 30px;
  line-height: 1;
  margin-top: 20px;
  position: static;
  color: #333;
}
.articles_list {
  margin-top: -25px;
}
.articles_list ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articles_list ul::after{
  display: block;
  content:"";
  width: 30%;
}
.articles_list .btn {
  margin-top: 80px;
}
.articles_list .btn a {
  margin: 0 auto;
  width: 300px;
}



.motion img {
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
}
.motion1 img {
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
}
.motion1 .f1 {
  -webkit-transform: scale(1,1);
  position: static;
  transform: scale(1,1);
}
.motion1 .f2 {
  left: 164px;
  top: 178px;
}
.motion1 .f3 {
  left: 409px;
  top: 330px;
}
.motion1 .f4 {
  left: 68px;
  top: 323px;
}
.motion1 .f5 {
  left: 45px;
  top: 0;
}
.motion1 .f6 {
  left: 105px;
  top: 202px;
}
.motion1 .f7 {
  left: 395px;
  top: 153px;
}
.motion1.on .f2 {
  -webkit-animation: f2 3s linear 0s forwards;
  animation: f2 3s linear 0s forwards;
}
.motion1.on .f3 {
  -webkit-animation: f3 3s linear 0s forwards;
  animation: f3 3s linear 0s forwards;
}
.motion1.on .f4 {
  -webkit-animation: f4 3s linear 0s forwards;
  animation: f4 3s linear 0s forwards;
}
.motion1.on .f5 {
  -webkit-animation: f5 3s linear 0s forwards;
  animation: f5 3s linear 0s forwards;
}
.motion1.on .f6 {
  -webkit-animation: f6 3s linear 0s forwards;
  animation: f6 3s linear 0s forwards;
}
.motion1.on .f7 {
  -webkit-animation: f7 3s linear 0s forwards;
  animation: f7 3s linear 0s forwards;
}
.motion2 img {
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
}
.motion2 .f1 {
  -webkit-transform: scale(1,1);
  position: static;
  transform: scale(1,1);
}
.motion2 .f2 {
  left: 230px;
  top: 0;
}
.motion2 .f3 {
  left: 431px;
  top: 137px;
}
.motion2 .f4 {
  left: 422px;
  top: 342px;
}
.motion2 .f5 {
  left: 230px;
  top: 430px;
}
.motion2 .f6 {
  left: 30px;
  top: 342px;
}
.motion2 .f7 {
  left: 0;
  top: 137px;
}
.motion2.on .f2 {
  -webkit-animation: f2 5s linear 0s forwards;
  animation: f2 5s linear 0s forwards;
}
.motion2.on .f3 {
  -webkit-animation: f3 5s linear 0s forwards;
  animation: f3 5s linear 0s forwards;
}
.motion2.on .f4 {
  -webkit-animation: f4 5s linear 0s forwards;
  animation: f4 5s linear 0s forwards;
}
.motion2.on .f5 {
  -webkit-animation: f5 5s linear 0s forwards;
  animation: f5 5s linear 0s forwards;
}
.motion2.on .f6 {
  -webkit-animation: f6 5s linear 0s forwards;
  animation: f6 5s linear 0s forwards;
}
.motion2.on .f7 {
  -webkit-animation: f7 5s linear 0s forwards;
  animation: f7 5s linear 0s forwards;
}
.motion3 img {
  opacity: 0;
}
.motion3 .f1 {
  opacity: 1;
  position: static;
}
.motion3.on .f2 {
  -webkit-animation: g2 6s linear 0s forwards;
  animation: g2 6s linear 0s forwards;
}
.motion3.on .f3 {
  -webkit-animation: g3 6s linear 0s forwards;
  animation: g3 6s linear 0s forwards;
}
.motion3.on .f4 {
  -webkit-animation: g4 6s linear 0s forwards;
  animation: g4 6s linear 0s forwards;
}
.motion4 img {
  opacity: 0;
}
.motion4 .f1 {
  left: 104px;
  top: 0;
  position: relative;
}
.motion4 .f2 {
  left: 0;
  top: 191px;
}
.motion4 .f3 {
  left: 0;
  top: 381px;
}
.motion4 .f4 {
  left: 208px;
  top: 383px;
}

.motion4.on .f1 {
  -webkit-animation: g1 4s linear 0s forwards;
  animation: g1 4s linear 0s forwards;
}
.motion4.on .f2 {
  -webkit-animation: g2 4s linear 0s forwards;
  animation: g2 4s linear 0s forwards;
}
.motion4.on .f3 {
  -webkit-animation: g3 4s linear 0s forwards;
  animation: g3 4s linear 0s forwards;
}
.motion4.on .f4 {
  -webkit-animation: g4 4s linear 0s forwards;
  animation: g4 4s linear 0s forwards;
}

.motion5 .f1 {
  position: static;
}
.motion5 .f2 {
  left: 32px;
  top: 70px;
}
.motion5 .f3 {
  left: 0;
  top: 0;
}
.motion5.on .f2 {
  -webkit-animation: h1 4s linear 0s infinite;
  animation: h1 30s linear 0s infinite;
}
.motion6 .f1 {
  position: static;
}
.motion6 .f2 {
  -webkit-transform: translateY(-251px);
  left: 30px;
  opacity: 0;
  top: 154px;
  transform: translateY(-251px);
}
.motion6 .f3 {
  -webkit-transform: translateY(-115px);
  left: 259px;
  opacity: 0;
  top: 8px;
  transform: translateY(-115px);
}
.motion6 .f4 {
  -webkit-transform: translateY(-226px);
  left: 325px;
  opacity: 0;
  top: 98px;
  transform: translateY(-226px);
}
.motion6 .f5 {
  -webkit-transform: translateY(-133px);
  left: 49px;
  opacity: 0;
  top: 0;
  transform: translateY(-133px);
}
.motion6 .f6 {
  -webkit-transform: translateY(-455px);
  left: 410px;
  opacity: 0;
  top: 237px;
  transform: translateY(-455px);
}
.motion6.on .f2 {
  -webkit-animation: i2 5s linear 0s forwards;
  animation: i2 5s linear 0s forwards;
}
.motion6.on .f3 {
  -webkit-animation: i3 5s linear 0s forwards;
  animation: i3 5s linear 0s forwards;
}
.motion6.on .f4 {
  -webkit-animation: i4 5s linear 0s forwards;
  animation: i4 5s linear 0s forwards;
}
.motion6.on .f5 {
  -webkit-animation: i5 5s linear 0s forwards;
  animation: i5 5s linear 0s forwards;
}
.motion6.on .f6 {
  -webkit-animation: i6 5s linear 0s forwards;
  animation: i6 5s linear 0s forwards;
}
.-pc02 {
  display: block;
}
.-sp {
  display: none;
}
@-webkit-keyframes f1 {
  6% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f1 {
  6% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes f2 {
  14% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  20% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f2 {
  14% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  20% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes f3 {
  28% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  34% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f3 {
  28% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  34% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes f4 {
  42% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  48% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f4 {
  42% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  48% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes f5 {
  56% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  62% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f5 {
  56% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  62% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes f6 {
  70% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  76% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f6 {
  70% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  76% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes f7 {
  84% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  90% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@keyframes f7 {
  84% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  90% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes g1 {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes g1 {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes g2 {
  30% {
    opacity: 0;
  }
  39% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes g2 {
  30% {
    opacity: 0;
  }
  39% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes g3 {
  60% {
    opacity: 0;
  }
  69% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes g3 {
  60% {
    opacity: 0;
  }
  69% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes g4 {
  90% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes g4 {
  90% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes h1 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes h1 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes i2 {
  14% {
    -webkit-transform: translateY(-251px);
    opacity: 0;
    transform: translateY(-251px);
  }
  20% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes i2 {
  14% {
    -webkit-transform: translateY(-251px);
    opacity: 0;
    transform: translateY(-251px);
  }
  20% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes i3 {
  28% {
    -webkit-transform: translateY(-115px);
    opacity: 0;
    transform: translateY(-115px);
  }
  34% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes i3 {
  28% {
    -webkit-transform: translateY(-115px);
    opacity: 0;
    transform: translateY(-115px);
  }
  34% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes i4 {
  42% {
    -webkit-transform: translateY(-226px);
    opacity: 0;
    transform: translateY(-226px);
  }
  48% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes i4 {
  42% {
    -webkit-transform: translateY(-226px);
    opacity: 0;
    transform: translateY(-226px);
  }
  48% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes i5 {
  56% {
    -webkit-transform: translateY(-133px);
    opacity: 0;
    transform: translateY(-133px);
  }
  62% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes i5 {
  56% {
    -webkit-transform: translateY(-133px);
    opacity: 0;
    transform: translateY(-133px);
  }
  62% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes i6 {
  70% {
    -webkit-transform: translateY(-455px);
    opacity: 0;
    transform: translateY(-455px);
  }
  76% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes i6 {
  70% {
    -webkit-transform: translateY(-455px);
    opacity: 0;
    transform: translateY(-455px);
  }
  76% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width:1160px) {
  /* .-pc02 {
    display: none;
  }
  .-sp {
    display: block;
  }
  .inner {
    padding: 0 6%;
    width: 100%;
  }
  #mv .ttl_area .ttl_inner {
    padding-left: 6%;
  }
  #mv .ttl_area .ttl_inner h2 {
    font-size: 50px;
  }
  #top #whatis .inner .block {
    padding: 6%;
  }
  #top #reasons .reason_sec .row .txt_area {
    margin-right: 20px;
  }
  #top #reasons .reason_sec:nth-child(2n) .row .txt_area {
    margin-left: 20px;
    margin-right: 0;
  }
  #top #reasons .reason_sec.sec_last {
    padding-left: 6%;
    padding-right: 6%;
  }
  #top #reasons .reason_sec.sec_last .inner .row .txt_area {
    margin-right: 0;
  }
  #top #cases .inner .case_list ul li {
    width: 32%;
  }
  #top #cases .inner .case_list ul li a .txt {
    padding: 20px;
  }
  #top #cases .inner .case_list ul li a .txt .ttl {
    height: auto;
  }
  #top #seminar .ttl_area .row .ttl {
    padding-left: 6%;
  }
  #top #seminar .ttl_area .row .txt_area {
    background: url(https://i-web-ats.humanage.co.jp/img/top/mask_seminar.svg) no-repeat center left/840px;
    padding-right: 6%;
    width: 60%;
  }
  #top #chlonicle .lists .chlonicle_list li .txt_area {
    font-size: 15px;
  }
  #top #topics_document .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #top #topics_document .row .topics {
    width: 100%;
  }
  #top #topics_document .row .document {
    margin-top: 120px;
    width: 100%;
  }
  #top #topics_document .row .document .document_inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  #top #topics_document .row .document .document_inner .document_slider {
    width: 50%;
  }
  #top #topics_document .row .document .btn {
    margin-top: 0;
  }
  #contact #contact_form .inner .intro {
    margin-bottom: 45px;
    text-align: left;
  }
  #contact #contact_form .inner .form {
    padding: 6%;
  }
  #mv.big {
    height: 50vw;
  }
  #mv.big .ttl_area {
    padding-top: 6.81818vw;
  }
  #mv.big .ttl_area::before {
    width: 90%;
  }
  #mv.big .ttl_cover {
    padding-left: 14.39394vw;
  }
  #mv.big .ttl_cover img {
    height: 31.81818vw;
  }
  #interview #mv.big .ttl_cover img {
    height: auto;
  }
  #mv.big+.breadcrumb {
    margin-top: -21.59091vw;
  } */
  .service_section1 {
    margin: 0 0 0 2.27273vw;
    padding-left: calc((100% - 700px)/ 2);
  }
  .service_section2 {
    display: block;
    height: auto;
    padding: 0 2.27273vw;
    margin-top: 50px;
  }
  .service_list {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    background-color: #fff;
  }
  .service_list>ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  .service_list>ul>li {
    width: 49%;
  }
  .service_detail .inner {
    width: 100%;
  }
  .service_outline_item {
    padding: 6.66667vw 0;
  }
  .service_outline_item>div {
    height: auto;
  }
  .service_outline_item>div>div {
    margin: 2.27273vw 0 0 0;
    padding: 2.27273vw;
    justify-content: space-between;
  }
  .service_outline_item>div>div>img {
    margin: -7.95455vw 0 0 2.27273vw;
    width: auto;
    max-width: 60%;
  }
  .service_section3_head,  .service_section4_head,  .service_section5_head {
    margin: 0 6%;
    background-size: contain;
  }
  .service_section3 .inner, .service_section4 .inner, .service_section5 .inner {
    padding: 0 4%;
  }
  .service_column {
    margin: 4.54545vw 1.136365vw 0 1.136365vw;
    /*width: 27.27273vw;*/
  }
  .service_column:nth-child(3n) {
    margin-right: 1.136365vw;
  }
  
  .service_column_title {
    font-size: 20px;
  }
  
  .service_detail .breadcrumb {
    height: auto;
    padding: 5px 20px 10px;
  }
  .service_detail .breadcrumb div:last-child {
    flex-direction: column;
    align-items: flex-end;
  }
  .service_detail .breadcrumb ul {
    margin: 0 -2px 0 0;
  }
  .service_detail .breadcrumb .prev {
    margin-left: 0;
    margin-right: auto;
  }
  
  .service_list.-sp .service_list_item {
    flex-direction: column;
    width: 50%;
  }
  .service_list.-sp .service_list_item_child {
    width: 50%;
  }
  .service_list.-sp {
    display: flex;
  }
  .service_list .other_nav a,
  .service_list .other_nav a.on {
    padding: 0;
    font-size: 13px;
  }
  .service_list .other_nav a:hover,
  .service_list .other_nav a.on:hover {
    padding: 0;
  }
  .service_list.-sp>ul>li {
    width: 100%;
    line-height: 2;
  }
  .service_list.-sp>ul>li span,
  .service_list.-sp p>a{
    font-weight: normal;
    transition: all 0.2s;
    color: #a5a5a5;
    font-size: 13px;
  }
  .service_list.-sp p>a{
    line-height: 2;
    padding: 0;
  }
  .service_list.-sp .service_list_item_child ul {
    /*opacity: 0;*/
    display: none;
    position: absolute;
    /*transition: all 0.2s;*/
  }
  .service_list.-sp .service_list_item_child ul.active {
    /*opacity: 1;*/
    display: block;
    position: relative;
    /*transition: all 0.2s;*/
  }
  .service_list.-sp .service_list_item li span.active {
    font-weight: bold;
    /*font-size: 14.5px;*/
    /*transition: all 0.3s;*/
    color: #333;
  }
  .service_list.-sp .service_list_item_child a{
    line-height: 1.5;
    padding: 12px 0 0;
  }
  .service_list a::before {
    content: none;
  }
  .service_outline {
    padding: 0 3%;
  }
}

@media (max-width:830px) {
  .service_column {
    width: 335px;
  }
}
@media (max-width:810px) {
  .sectionttl {
    font-size: 50px;
  }
  .sectionttl+.subttl {
    font-size: 14px;
    margin-top: 10px;
  }
  .blockttl {
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }
  .blockttl span {
    border-bottom: 0;
  }
  .blockttl::after {
    -webkit-transform: translateX(-50%);
    background: #333;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    top: calc(100% + 10px);
    transform: translateX(-50%);
    width: 60vw;
  }
  .service_section1 {
    margin: 0 6%;
    padding: 15px 15px 80px 15px;
  }
  .service_section1 h2 {
    font-size: 22px;
    line-height: 1.6;
  }
  .service_section2 {
    padding: 0 6%;
  }
  .service_section3 .service_column_title {
    height: auto;
  }
  .service_list a.on,  .service_list a:hover {
    /*font-size: 15px;*/
    padding: 12px 0;
    font-weight: bold;
  }
  .service_outline_item {
    padding: 30px 0;
  }
  .service_outline_item>div>div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    /*margin: 0;
    padding: 30px 0;*/
    margin: 30px 0 0;
    padding: 0;
    align-items: center;
  }
  .service_outline_item>div>div>img {
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  .service_outline_item>div>div>div {
    padding: 30px;
    width: 100%;
  }
  .service_outline h2 {
    font-size: 25px;
  }
  .service_outline h3 {
    font-size: 18px;
    line-height: 1.6;
  }
  .service_outline p {
    font-size: 20px;
    line-height: 1.6;
  }
  .service_section3,  .service_section4,  .service_section5 {
    padding: 6.66667vw 0 13.33333vw 0;
  }
  .service_section3_head,  .service_section4_head,  .service_section5_head {
    margin: 0 6%;
  }
  .service_section3_head h2,  .service_section4_head h2,  .service_section5_head h2 {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: auto;
  }
  .service_section3_head h2 span,  .service_section4_head h2 span,  .service_section5_head h2 span {
    margin-left: 0;
    margin-top: 10px;
  }
  .service_section4_head {
    display: block;
  }
  .service_section4_head>div {
    margin-left: 0;
    width: auto;
  }
  .service_section4_head h2 {
    margin-top: 1em;
  }
  .service_section4_head p {
    clear: both;
  }
  .service_section4_head img {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 60px;
  }
  .service_column {
    width: 42.8vw;
  }
  .service_column_title {
    font-size: 18px;
  }
  .service_overlay {
    width: 95%;
  }
  .service_detail {
    padding: 0 10px;
  }
  .service_detail_title {
    height: 200px;
    margin: 0 -10px;
    padding: 0 0 20px 30px;
  }
  .service_detail_title::after {
    left: 20px;
  }
  .service_detail_title h2 {
    font-size: 30px;
    margin-left: 80px;
  }
  .service_detail.other .service_detail_title h2 {
    font-size: 20px;
  }
  .service_detail_title img {
    display: none;
  }
  .service_detail .breadcrumb {
    font-size: 11px;
    flex-direction: column;
    align-items: flex-end;
  }
  .service_detail .breadcrumb div:first-child {
    margin-right: auto;
    margin-bottom: 10px;
  }
  .service_detail .breadcrumb div:first-child,.service_detail .breadcrumb div:last-child,.service_detail .breadcrumb ul  li {
    font-size: 11px;
  }
  .service_detail .breadcrumb ul  li:not(:last-child) {
    margin-right: 20px;
  }
  .service_detail .breadcrumb ul  li:not(:last-child)::after {
    width: 10px;
    left: calc(100% + 5px);
  }
  .service_detail .breadcrumb .next {
    margin-left: auto;
  }
  .service_detail .inner {
    width: auto;
  }
  .service_detail_section1 {
    margin: 6.66667vw 0;
  }
  .service_detail_section1 h2 {
    font-size: 18px;
    line-height: 1.6;
  }
  .service_detail.other .service_detail_section1 h2 {
    font-size: 18px;
    line-height: 1.6;
  }
  .service_detail_section2 {
    margin: 0 -10px;
    padding: 6.66667vw 10px;
  }
  .service_detail_section2 h3>span:last-child {
    font-size: 18px;
  }
  .service_detail.other .service_detail_section2 h3>span:last-child {
    font-size: 16px;
  }
  .service_detail_section2 .inner>div {
    margin-top: 8.88889vw;
  }
  .service_detail_section2 .inner>div+div {
    margin-top: 8.88889vw;
  }
  .service_detail_section2 h2 {
    font-size: 24px;
  }
  .service_detail_section2 h3>span:first-child {
    font-size: 30px;
  }
  .service_detail_section3 {
    padding: 6.66667vw 0;
  }
  .service_detail_section3>div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  .service_detail_section3 h2 {
    font-size: 30px;
  }
  .service_detail_section3 h2+* {
    margin: 0;
  }
  .service_detail_section4 {
    margin: 0 -10px;
  }

  /*アニメーションなし*/
  .no-anime,.motion {
    position: relative;
    top: 0;
    transform: scale(1);
  }

  .service_wrapper .btn a,.service_overlay .btn a {
    width: 245px;
    /*padding: 0 30px;*/
  }
  .entry_section .inner.center .img {
    margin-top: 30px !important;
  }

  .service_detail_title h2 > span.sub {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media (max-width:480px) {
  .service_column {
    margin: 30px 0 0 0;
    width: 100%;
  }
  .service_detail .breadcrumb,.service_detail .breadcrumb div:last-child {
    align-items: stretch;
  }
}


/*サービス紹介*/
.service_detail_pager_next {
  position: absolute;
  right: 30px;
  top: 50px;
  font-size: 13px;
}
.service_detail_pager_prev {
  position: absolute;
  top: 50px;
  font-size: 13px;
}
.breadcrumb.-bottom {
  background: none;
  margin-top: 50px;
}
.service_detail .breadcrumb .next.-noBefore::before {
  content: none;
}
.breadcrumb.-bottom .service_detail_pager_next {
  top: 0;
}
.breadcrumb.-bottom .service_detail_pager_prev {
  top: 0;
}
.lity-hidden #cms.service_detail.other {
  display: block !important;
}
/*
div#analytics .service_detail_title {
  padding: 0px 0 45px 210px;
}
*/
@media (max-width: 810px) {
  .service_detail_pager_next {
    position: absolute;
    right: 10px;
    top: 65px;
    font-size: 11px;
  }
  .service_detail_pager_prev {
    position: absolute;
    top: 65px;
    font-size: 11px;
    left: 20px;
  }
  .service_detail_section1 {
    margin: 12.66667vw 0;
  }
  .service_detail_pager_prev .prev {
    padding-left: 10px !important;
    display: block;
    line-height: 1.5;
  }
  .service_detail_pager_next .next {
    padding-right: 10px !important;
    display: block;
    line-height: 1.5;
  }
  .service_detail_section2 h3>span:first-child {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
  }
  div#analytics .service_detail_title {
    padding: 0 0 20px 30px;
  }
}

.service_cat {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  line-height: 3;
  transition: all .5s ease;
}

p.service_cat>a {
  font-size: 15px;
  line-height: 3;
  padding: 0;
  cursor: pointer;
  transition: all .5s ease;
}

p.service_cat>a:hover {
  font-weight: bold;
  transition: all .5s ease;
}

.service_detail_section2 h2 + p {
  margin-top: 40px;
  font-size: 18px;
}
.service_detail_section2 h3>span:last-child {
  font-family: unset !important;
}
.service_detail_title::after {
  background: linear-gradient(180deg, #195cb7, #8ce2d0);
}
.service_detail_section2 h3 span.red-font {
  color: red;
}
.service_detail_section2 h3 span.inline {
  display: inline !important;
  font-size: unset !important;
}
.service_detail_section2 .btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 15px;
}
.service_detail_section2 .btn a {
  width: 260px;
}

@media (max-width: 550px) {
  .service_column {
    width: 100%;
  }
}
@media (max-width: 810px) {
  .service_trend_btn {
      top: 10%;
      width: 55px;
  }
  .service_trend_btn img {
      width: 55px;
  }
  .service_detail_title h2 > span .labelstyle {
      font-size: 11px;
      padding: 3px 6px;
  }
  .contact_more {
    padding: 6.66667vw 0 150px;
  }
  .contact_more>div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  .contact_more h2 {
    font-size: 30px;
  }
  .contact_more .btn {
    margin-top: 20px;
  }
  .service_detail_section2 .btn {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .service_detail_section2 .btn a {
    width: 245px;
  }
}

.service_detail .youtube-ratio iframe {
  max-width: 660px;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.service_detail .contact_more .btn span {
  padding-left: 0 !important;
  text-align: center;
}